﻿ 
 
  

<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/RAM_Question.Master" Inherits="System.Web.Mvc.ViewPage<RAMAPP_Mvc3.Models.CostsModel>" %>
<%@ Import Namespace="System.Globalization" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
		
	 <script type="text/javascript" src="../../Scripts/jquery.smartTab.js"></script>
	<script type="text/javascript">
	    $(document).ready(function () {
	        // Smart Wizard 	
	        $("#wizard_Costs").smartTab({ transitionEffect: 'fade' });

	       /* $('li .stepDesc small').each(function (index) {
	            var elementTitleId = $(this).closest('a').attr('href') + ' .StepTitle';

	            $(this).text($(elementTitleId).text());

	        });*/
    
	    });
		</script>
	  <% Html.EnableClientValidation(); %>			   
	  <% using (Ajax.BeginForm("Costs",new AjaxOptions { HttpMethod = "Post", OnComplete = "SaveResult" })) { 
	     bool uomPref = true;
	  %>
	  	<div id="wizard_Costs" class="stContainer">
		    <ul class="tabContainer">
			<li><a href='#step-1'><label class='stepNumber'>1</label><span class='stepDesc'>Section 1<br /><small>Direct Routine Maintenance Costs</small> </span></a></li><li><a href='#step-2'><label class='stepNumber'>2</label><span class='stepDesc'>Section 2<br /><small>Indirect Routine Maintenance Costs</small> </span></a></li><li><a href='#step-3'><label class='stepNumber'>3</label><span class='stepDesc'>Section 3<br /><small>Routine Maintenance Expense Labor Hours</small> </span></a></li><li><a href='#step-4'><label class='stepNumber'>4</label><span class='stepDesc'>Section 4<br /><small>Routine Maintenance Capital Labor Hours</small> </span></a></li><li><a href='#step-5'><label class='stepNumber'>5</label><span class='stepDesc'>Section 5<br /><small>Direct Annualized T/A Maintenance Costs</small> </span></a></li><li><a href='#step-6'><label class='stepNumber'>6</label><span class='stepDesc'>Section 6<br /><small>Indirect Annualized T/A Maintenance Costs</small> </span></a></li><li><a href='#step-7'><label class='stepNumber'>7</label><span class='stepDesc'>Section 7<br /><small>T/A Maintenance Expense Labor Hours</small> </span></a></li><li><a href='#step-8'><label class='stepNumber'>8</label><span class='stepDesc'>Section 8<br /><small>T/A Maintenance Capital Labor Hours</small> </span></a></li>
			</ul>
		
			    				  
				  
				  <div class="SubSectionTab"  id="step-1">
				   
					<p class="StepTitle"> DIRECT ROUTINE MAINTENANCE COSTS</p>
					<p><i></i></p> 
				 
		              			   <div class="questionblock" qid="">
								
								        
						<div id='ST_RT_DR' class='grid editor-field' ><ul class="rowdesc"><li>&nbsp;</li> <li class='gridrowtext  '><span class='numbering'>1.</span> Direct <a href="#" tooltip="Personnel in the reliability and/or maintenance function (company or contractor personnel) that spend more than 50% of their time working with tools and repair materials.">Maintenance Labor</a> – Company Craft Employees</li> <li class='gridrowtext  '><span class='numbering'>2.</span> Direct Maintenance Labor – Contractor Craft</li> <li class='gridrowtext calctext '>Total Direct Routine Maintenance Labor Costs</li> <li class='gridrowtext  '><span class='numbering'>3.</span> Direct Maintenance Materials – Supplied by the Company</li> <li class='gridrowtext  '><span class='numbering'>4.</span> Direct <a href="#" tooltip="Materials used for maintenance and repair of equipment regardless of the source. This includes stocked maintenance inventory usage, outside purchased materials, supplies, consumables and the costs to repair spare components. Include materials used for capital expenditures directly related to end-of... See Glossary">Maintenance Material</a>s – Supplied by Contractors</li> <li class='gridrowtext calctext '>Total Direct Routine Maintenance Material Costs</li> <li class='gridrowtext calctext '>Total Direct Routine Maintenance Costs</li></ul><ul class='gridbody'>
						<li class="columndesc">Expense</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompLabor_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumLbrRTExp sumSiteTotExpRT sumSiteTotCostRT sumLbrCORTTot sumLbrRTTot sumExpDirTot sumTotRTDir" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContLabor_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteTotExpRT sumSiteTotCostRT sumLbrRTExp sumLbrCTRTTot sumLbrRTTot sumExpDirTot sumTotRTDir" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompMatl_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumMtlRTExp sumSiteTotExpRT sumSiteTotCostRT sumMtlRTTot sumExpDirTot sumMatlCompRT sumTotRTDir" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContMatl_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumMtlRTExp sumSiteTotExpRT sumSiteTotCostRT sumMtlRTTot sumExpDirTot sumMatlContRT sumTotRTDir" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotMatl_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotDirect_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Maintenance Capital</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompLabor_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteTotCostRT sumSiteTotMCptlRT sumLbrRTCap sumLbrCORTTot sumLbrRTTot sumMtCapDirTot sumTotRTDir" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContLabor_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteTotCostRT sumSiteTotMCptlRT sumLbrRTCap sumLbrCTRTTot sumLbrRTTot sumMtCapDirTot sumTotRTDir" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompMatl_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteTotCostRT sumSiteTotMCptlRT sumMtlRTCap sumMtlRTTot sumMtCapDirTot sumMatlCompRT sumTotRTDir" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContMatl_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteTotCostRT sumSiteTotMCptlRT sumMtlRTCap sumMtlRTTot sumMtCapDirTot sumMatlContRT sumTotRTDir" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotMatl_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotDirectCost_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Total</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsCompLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsContLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsCompMatl_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsContMatl_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotMatl_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotDirect_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li></ul></div>
						<%: Html.ValidationMessageFor(model => model.SiteExpCompLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpContLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpCompMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpContMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotDirect_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotDirectCost_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsCompLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsContLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsCompMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsContMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotMatl_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotDirect_RT)%>
								
												
								<div class="tooltipIndicator downPointer"> Show Help </div>
                <fieldset class="tooltip"><span ><img src="../../images/system-help.png" border="0" alt="help" align="middle"/></span><span style="padding:0 15px 0 0;">Help is not available</span> </fieldset>
			    				
			  </div>
			  				  
				  </div>
				  <div class="SubSectionTab"  id="step-2">
				   
					<p class="StepTitle"> INDIRECT ROUTINE MAINTENANCE COSTS</p>
					<p><i></i></p> 
				 
		              			   <div class="questionblock" qid="">
								
								        
						<div id='ST_RT_IN' class='grid editor-field' ><ul class="rowdesc"><li>&nbsp;</li> <li class='gridrowtext  '><span class='numbering'>1.</span> Maintenance Support/Overhead – Company</li> <li class='gridrowtext  '><span class='numbering'>2.</span> Maintenance Support/Overhead – Contractor</li> <li class='gridrowtext calctext '>Total Indirect Routine Maintenance Costs</li> <li class='gridrowtext calctext '>Total Direct and Indirect Routine Maintenance Costs</li></ul><ul class='gridbody'>
						<li class="columndesc">Expense</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpIndirectCompSupport_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSpptRTExp sumSiteTotExpRT sumSiteTotCostRT sumCOSpptRTExp sumTotIndrRT" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpIndirectContSupport_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSpptRTExp sumSiteTotExpRT sumSiteTotCostRT sumCTSpptRTExp sumTotIndrRT" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotIndirect_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotMaint_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Maintenance Capital</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompIndirectCost_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSpptRTCap sumSiteTotCostRT sumSiteTotMCptlRT sumCOSpptRTExp sumTotIndrRT" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContIndirectCost_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSpptRTCap sumSiteTotCostRT sumSiteTotMCptlRT sumCTSpptRTExp sumTotIndrRT" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotIndirectCost_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotCost_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Total</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsIndirectCompSupport_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsIndirectContSupport_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotIndirect_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotMaint_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li></ul></div>
						<%: Html.ValidationMessageFor(model => model.SiteExpIndirectCompSupport_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpIndirectContSupport_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotIndirect_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompIndirectCost_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContIndirectCost_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotIndirectCost_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsIndirectCompSupport_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsIndirectContSupport_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotIndirect_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotMaint_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotCost_RT)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotMaint_RT)%>
								
												
								<div class="tooltipIndicator downPointer"> Show Help </div>
                <fieldset class="tooltip"><span ><img src="../../images/system-help.png" border="0" alt="help" align="middle"/></span><span style="padding:0 15px 0 0;">Help is not available</span> </fieldset>
			    				
			  </div>
			  				  
				  </div>
				  <div class="SubSectionTab"  id="step-3">
				   
					<p class="StepTitle"> ROUTINE MAINTENANCE EXPENSE LABOR HOURS</p>
					<p><i></i></p> 
				 
		              			   <div class="questionblock" qid="">
								
								        
						<div id='ST_RT_EXP_LH' class='grid editor-field' ><ul class="rowdesc"><li>&nbsp;</li> <li class='gridrowtext  '><span class='numbering'>1.</span> Routine Direct <a href="#" tooltip="Personnel in the reliability and/or maintenance function (company or contractor personnel) that spend more than 50% of their time working with tools and repair materials.">Maintenance Labor</a> – Company Craft Employees</li> <li class='gridrowtext  '><span class='numbering'>2.</span> Routine Direct Maintenance Labor – Contractor Craft</li> <li class='gridrowtext calctext '>Calculated combined (Company plus Contractor)</li></ul><ul class='gridbody'>
						<li class="columndesc">Reported Labor Cost</li><li class="gridrow"><%: Html.EditorFor(model => model._SiteExpCompLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,ReadOnly="True"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model._SiteExpContLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,ReadOnly="True"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model._SiteExpTotLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,@class="formfld" ,ReadOnly="True"})%></li> </ul><ul class="gridbody"><li class="columndesc">Labor Hours</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompManHrs_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteExpManHrsRT" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContManHrs_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteExpManHrsRT" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotManHrs_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Wage Rate - Local Currency/Hour</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompWageRate_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContWageRate_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpAvgWageRate_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2" ,@class="formfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Wage Rate - US$/Hour</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompWageRateUSD_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContWageRateUSD_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpAvgWageRateUSD_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2" ,@class="formfld"})%></li></ul></div>
						<%: Html.ValidationMessageFor(model => model._SiteExpCompLabor_RT)%> <%: Html.ValidationMessageFor(model => model._SiteExpContLabor_RT)%> <%: Html.ValidationMessageFor(model => model._SiteExpTotLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpCompManHrs_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpContManHrs_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotManHrs_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpCompWageRate_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpContWageRate_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpAvgWageRate_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpCompWageRateUSD_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpContWageRateUSD_RT)%> <%: Html.ValidationMessageFor(model => model.SiteExpAvgWageRateUSD_RT)%>
								
												
								<div class="tooltipIndicator downPointer"> Show Help </div>
                <fieldset class="tooltip"><span ><img src="../../images/system-help.png" border="0" alt="help" align="middle"/></span><span style="padding:0 15px 0 0;">Help is not available</span> </fieldset>
			    				
			  </div>
			  				  
				  </div>
				  <div class="SubSectionTab"  id="step-4">
				   
					<p class="StepTitle"> ROUTINE MAINTENANCE CAPITAL LABOR HOURS</p>
					<p><i></i></p> 
				 
		              			   <div class="questionblock" qid="">
								
								        
						<div id='ST_RT_CP_LH' class='grid editor-field' ><ul class="rowdesc"><li>&nbsp;</li> <li class='gridrowtext  '><span class='numbering'>1.</span> Routine Direct <a href="#" tooltip="Personnel in the reliability and/or maintenance function (company or contractor personnel) that spend more than 50% of their time working with tools and repair materials.">Maintenance Labor</a> – Company Craft Employees</li> <li class='gridrowtext  '><span class='numbering'>2.</span> Routine Direct Maintenance Labor – Contractor Craft</li> <li class='gridrowtext calctext '>Calculated combined (Company plus Contractor)</li></ul><ul class='gridbody'>
						<li class="columndesc">Reported Labor Cost</li><li class="gridrow"><%: Html.EditorFor(model => model._SiteMCptlCompLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,ReadOnly="True"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model._SiteMCptlContLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,ReadOnly="True"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model._SiteMCptlTotLabor_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,@class="formfld" ,ReadOnly="True"})%></li> </ul><ul class="gridbody"><li class="columndesc">Labor Hours</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompManHrs_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCptlManHrsRT" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContManHrs_RT,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCptlManHrsRT" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotManHrs_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Wage Rate - Local Currency/Hour</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompWageRate_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContWageRate_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlAvgWageRate_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2" ,@class="formfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Wage Rate - US$/Hour</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompWageRateUSD_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContWageRateUSD_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlAvgWageRateUSD_RT,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2" ,@class="formfld"})%></li></ul></div>
						<%: Html.ValidationMessageFor(model => model._SiteMCptlCompLabor_RT)%> <%: Html.ValidationMessageFor(model => model._SiteMCptlContLabor_RT)%> <%: Html.ValidationMessageFor(model => model._SiteMCptlTotLabor_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompManHrs_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContManHrs_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotManHrs_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompWageRate_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContWageRate_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlAvgWageRate_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompWageRateUSD_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContWageRateUSD_RT)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlAvgWageRateUSD_RT)%>
								
												
								<div class="tooltipIndicator downPointer"> Show Help </div>
                <fieldset class="tooltip"><span ><img src="../../images/system-help.png" border="0" alt="help" align="middle"/></span><span style="padding:0 15px 0 0;">Help is not available</span> </fieldset>
			    				
			  </div>
			  				  
				  </div>
				  <div class="SubSectionTab"  id="step-5">
				   
					<p class="StepTitle"> DIRECT ANNUALIZED T/A MAINTENANCE COSTS</p>
					<p><i></i></p> 
				 
		              			   <div class="questionblock" qid="">
								
								        
						<div id='ST_TA_DR' class='grid editor-field' ><ul class="rowdesc"><li>&nbsp;</li> <li class='gridrowtext  '><span class='numbering'>1.</span> Direct <a href="#" tooltip="Personnel in the reliability and/or maintenance function (company or contractor personnel) that spend more than 50% of their time working with tools and repair materials.">Maintenance Labor</a> – Company Craft Employees</li> <li class='gridrowtext  '><span class='numbering'>2.</span> Direct Maintenance Labor – Contractor Craft</li> <li class='gridrowtext calctext '>Total Direct Annualized T/A Maintenance Labor Costs</li> <li class='gridrowtext  '><span class='numbering'>3.</span> Direct Maintenance Materials – Supplied by the Company</li> <li class='gridrowtext  '><span class='numbering'>4.</span> Direct <a href="#" tooltip="Materials used for maintenance and repair of equipment regardless of the source. This includes stocked maintenance inventory usage, outside purchased materials, supplies, consumables and the costs to repair spare components. Include materials used for capital expenditures directly related to end-of... See Glossary">Maintenance Material</a>s – Supplied by Contractors</li> <li class='gridrowtext calctext '>Total Direct Annualized T/A Maintenance Material Costs</li> <li class='gridrowtext calctext '>Total Direct Annualized T/A Maintenance Costs</li></ul><ul class='gridbody'>
						<li class="columndesc">Expense</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompLabor_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteExpLaborTA sumSiteCompLaborTA sumSiteTotLaborTA sumSiteExpDirTA sumSiteCostDirTA sumSiteExpTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContLabor_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteExpLaborTA sumSiteContLaborTA sumSiteTotLaborTA sumSiteExpDirTA sumSiteCostDirTA sumSiteExpTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompMatl_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCompMatlTA sumSiteExpMatlTA sumSiteTotMatlTA sumSiteExpDirTA sumSiteCostDirTA sumSiteExpTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContMatl_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteContMatlTA sumSiteExpMatlTA sumSiteTotMatlTA sumSiteExpDirTA sumSiteCostDirTA sumSiteExpTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotMatl_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotDirect_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Maintenance Capital</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompLabor_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCptlLaborTA sumSiteCompLaborTA sumSiteTotLaborTA sumSiteCostDirTA sumSiteCptlDirTA sumSiteCptlTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContLabor_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCptlLaborTA sumSiteContLaborTA sumSiteTotLaborTA sumSiteCostDirTA sumSiteCptlDirTA sumSiteCptlTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompMatl_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCompMatlTA sumSiteCptlMatlTA sumSiteTotMatlTA sumSiteCostDirTA sumSiteCptlDirTA sumSiteCptlTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContMatl_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteContMatlTA sumSiteCptlMatlTA sumSiteTotMatlTA sumSiteCostDirTA sumSiteCptlDirTA sumSiteCptlTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotMatl_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotDirectCost_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Total</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsCompLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsContLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsCompMatl_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsContMatl_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotMatl_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotDirect_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li></ul></div>
						<%: Html.ValidationMessageFor(model => model.SiteExpCompLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpContLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpCompMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpContMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotDirect_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotDirectCost_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsCompLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsContLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsCompMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsContMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotMatl_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotDirect_TA)%>
								
												
								<div class="tooltipIndicator downPointer"> Show Help </div>
                <fieldset class="tooltip"><span ><img src="../../images/system-help.png" border="0" alt="help" align="middle"/></span><span style="padding:0 15px 0 0;">Help is not available</span> </fieldset>
			    				
			  </div>
			  				  
				  </div>
				  <div class="SubSectionTab"  id="step-6">
				   
					<p class="StepTitle"> INDIRECT ANNUALIZED T/A MAINTENANCE COSTS</p>
					<p><i></i></p> 
				 
		              			   <div class="questionblock" qid="">
								
								        
						<div id='ST_TA_IN' class='grid editor-field' ><ul class="rowdesc"><li>&nbsp;</li> <li class='gridrowtext  '><span class='numbering'>1.</span> Maintenance Support/Overhead – Company</li> <li class='gridrowtext  '><span class='numbering'>2.</span> Maintenance Support/Overhead – Contractor</li> <li class='gridrowtext calctext '>Total Indirect Annualized T/A Maintenance Costs</li> <li class='gridrowtext calctext '>Total Direct and Indirect Annualized T/A Maintenance Costs</li></ul><ul class='gridbody'>
						<li class="columndesc">Expense</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpIndirectCompSupport_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCompIndTA sumSiteExpIndTA sumSiteCostIndTA sumSiteExpTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpIndirectContSupport_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteContIndTA sumSiteExpIndTA sumSiteCostIndTA sumSiteExpTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotIndirect_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotMaint_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Maintenance Capital</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompIndirectCost_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCompIndTA sumSiteCptlIndTA sumSiteCostIndTA sumSiteCptlTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContIndirectCost_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteContIndTA sumSiteCptlIndTA sumSiteCostIndTA sumSiteCptlTotTA sumSiteCostTotTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotIndirectCost_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotCost_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Total</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsIndirectCompSupport_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsIndirectContSupport_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotIndirect_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteCostsTotMaint_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li></ul></div>
						<%: Html.ValidationMessageFor(model => model.SiteExpIndirectCompSupport_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpIndirectContSupport_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotIndirect_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompIndirectCost_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContIndirectCost_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotIndirectCost_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsIndirectCompSupport_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsIndirectContSupport_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotIndirect_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotMaint_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotCost_TA)%> <%: Html.ValidationMessageFor(model => model.SiteCostsTotMaint_TA)%>
								
												
								<div class="tooltipIndicator downPointer"> Show Help </div>
                <fieldset class="tooltip"><span ><img src="../../images/system-help.png" border="0" alt="help" align="middle"/></span><span style="padding:0 15px 0 0;">Help is not available</span> </fieldset>
			    				
			  </div>
			  				  
				  </div>
				  <div class="SubSectionTab"  id="step-7">
				   
					<p class="StepTitle"> T/A MAINTENANCE EXPENSE LABOR HOURS</p>
					<p><i></i></p> 
				 
		              			   <div class="questionblock" qid="">
								
								        
						<div id='ST_TA_EXP_LH' class='grid editor-field' ><ul class="rowdesc"><li>&nbsp;</li> <li class='gridrowtext  '><span class='numbering'>1.</span> <a href="#" tooltip="To calculate or adjust a variable to determine the annual value even the though the value reported was not for a fixed 12-month period. For example, the cost of a maintenance turnaround that occurs once every five years is divided by five to get the annualized cost of the turnaround.">Annualize</a>d T/A Direct <a href="#" tooltip="Personnel in the reliability and/or maintenance function (company or contractor personnel) that spend more than 50% of their time working with tools and repair materials.">Maintenance Labor</a> – Company Craft Employees</li> <li class='gridrowtext  '><span class='numbering'>2.</span> Annualized T/A Direct Maintenance Labor – Contractor Craft</li> <li class='gridrowtext calctext '>Calculated combined (Company plus Contractor)</li></ul><ul class='gridbody'>
						<li class="columndesc">Reported Labor Cost</li><li class="gridrow"><%: Html.EditorFor(model => model._SiteExpCompLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,ReadOnly="True"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model._SiteExpContLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,ReadOnly="True"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model._SiteExpTotLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,@class="formfld" ,ReadOnly="True"})%></li> </ul><ul class="gridbody"><li class="columndesc">Labor Hours</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompManHrs_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteExpManHrsTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContManHrs_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteExpManHrsTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpTotManHrs_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Wage Rate - Local Currency/Hour</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompWageRate_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContWageRate_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpAvgWageRate_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2" ,@class="formfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Wage Rate - US$/Hour</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteExpCompWageRateUSD_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpContWageRateUSD_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteExpAvgWageRateUSD_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2" ,@class="formfld"})%></li></ul></div>
						<%: Html.ValidationMessageFor(model => model._SiteExpCompLabor_TA)%> <%: Html.ValidationMessageFor(model => model._SiteExpContLabor_TA)%> <%: Html.ValidationMessageFor(model => model._SiteExpTotLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpCompManHrs_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpContManHrs_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpTotManHrs_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpCompWageRate_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpContWageRate_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpAvgWageRate_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpCompWageRateUSD_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpContWageRateUSD_TA)%> <%: Html.ValidationMessageFor(model => model.SiteExpAvgWageRateUSD_TA)%>
								
												
								<div class="tooltipIndicator downPointer"> Show Help </div>
                <fieldset class="tooltip"><span ><img src="../../images/system-help.png" border="0" alt="help" align="middle"/></span><span style="padding:0 15px 0 0;">Help is not available</span> </fieldset>
			    				
			  </div>
			  				  
				  </div>
				  <div class="SubSectionTab"  id="step-8">
				   
					<p class="StepTitle"> T/A MAINTENANCE CAPITAL LABOR HOURS</p>
					<p><i></i></p> 
				 
		              			   <div class="questionblock" qid="">
								
								        
						<div id='ST_TA_CAP_LH' class='grid editor-field' ><ul class="rowdesc"><li>&nbsp;</li> <li class='gridrowtext  '><span class='numbering'>1.</span> <a href="#" tooltip="To calculate or adjust a variable to determine the annual value even the though the value reported was not for a fixed 12-month period. For example, the cost of a maintenance turnaround that occurs once every five years is divided by five to get the annualized cost of the turnaround.">Annualize</a>d T/A Direct <a href="#" tooltip="Personnel in the reliability and/or maintenance function (company or contractor personnel) that spend more than 50% of their time working with tools and repair materials.">Maintenance Labor</a> – Company Craft Employees</li> <li class='gridrowtext  '><span class='numbering'>2.</span> Annualized T/A Direct Maintenance Labor – Contractor Craft</li> <li class='gridrowtext calctext '>Calculated combined (Company plus Contractor)</li></ul><ul class='gridbody'>
						<li class="columndesc">Reported Labor Cost</li><li class="gridrow"><%: Html.EditorFor(model => model._SiteMCptlCompLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,ReadOnly="True"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model._SiteMCptlContLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,ReadOnly="True"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model._SiteMCptlTotLabor_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="1" ,@class="formfld" ,ReadOnly="True"})%></li> </ul><ul class="gridbody"><li class="columndesc">Labor Hours</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompManHrs_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCptlManHrsTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContManHrs_TA,"DoubleTmpl",new {size="10" ,CalcTag="sumSiteCptlManHrsTA" ,NumFormat="Number" ,DecPlaces="0"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlTotManHrs_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="0" ,@class="ttlfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Wage Rate - Local Currency/Hour</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompWageRate_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContWageRate_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlAvgWageRate_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2" ,@class="formfld"})%></li> </ul><ul class="gridbody"><li class="columndesc">Wage Rate - US$/Hour</li><li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlCompWageRateUSD_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlContWageRateUSD_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2"})%></li> <li class="gridrow"><%: Html.EditorFor(model => model.SiteMCptlAvgWageRateUSD_TA,"DoubleTmpl",new {size="10" ,NumFormat="Number" ,DecPlaces="2" ,@class="formfld"})%></li></ul></div>
						<%: Html.ValidationMessageFor(model => model._SiteMCptlCompLabor_TA)%> <%: Html.ValidationMessageFor(model => model._SiteMCptlContLabor_TA)%> <%: Html.ValidationMessageFor(model => model._SiteMCptlTotLabor_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompManHrs_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContManHrs_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlTotManHrs_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompWageRate_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContWageRate_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlAvgWageRate_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlCompWageRateUSD_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlContWageRateUSD_TA)%> <%: Html.ValidationMessageFor(model => model.SiteMCptlAvgWageRateUSD_TA)%>
								
												
								<div class="tooltipIndicator downPointer"> Show Help </div>
                <fieldset class="tooltip"><span ><img src="../../images/system-help.png" border="0" alt="help" align="middle"/></span><span style="padding:0 15px 0 0;">Help is not available</span> </fieldset>
			    				
			  </div>
			    <%: Html.HiddenFor(model=>model.CompanySID) %>
  
  </div> <!-- for last step --> 
  </div>  <!-- for wizard container -->
<%
} //for form using clause 
%>
 


<script type="text/javascript"> function formatResult(el,value){ var format='N'; if(el.attr('NumFormat')=='Number'|| el.attr('NumFormat')=='Percent')  format= 'n0';  el.val(Number.parseLocale(value.toString()).localeFormat(format));  }$("input[CalcTag*='sumLbrRTExp']").sum({bind: "keyup", selector: "#SiteExpTotLabor_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotLabor_RT').attr('readonly','readonly');$('#SiteExpTotLabor_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumMtlRTExp']").sum({bind: "keyup", selector: "#SiteExpTotMatl_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotMatl_RT').attr('readonly','readonly');$('#SiteExpTotMatl_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumLbrRTCap']").sum({bind: "keyup", selector: "#SiteMCptlTotLabor_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotLabor_RT').attr('readonly','readonly');$('#SiteMCptlTotLabor_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumMtlRTCap']").sum({bind: "keyup", selector: "#SiteMCptlTotMatl_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotMatl_RT').attr('readonly','readonly');$('#SiteMCptlTotMatl_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumLbrCORTTot']").sum({bind: "keyup", selector: "#SiteCostsCompLabor_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsCompLabor_RT').attr('readonly','readonly');$('#SiteCostsCompLabor_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumLbrCTRTTot']").sum({bind: "keyup", selector: "#SiteCostsContLabor_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsContLabor_RT').attr('readonly','readonly');$('#SiteCostsContLabor_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumSpptRTExp']").sum({bind: "keyup", selector: "#SiteExpTotIndirect_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotIndirect_RT').attr('readonly','readonly');$('#SiteExpTotIndirect_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumSpptRTCap']").sum({bind: "keyup", selector: "#SiteMCptlTotIndirectCost_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotIndirectCost_RT').attr('readonly','readonly');$('#SiteMCptlTotIndirectCost_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumExpDirTot']").sum({bind: "keyup", selector: "#SiteExpTotDirect_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotDirect_RT').attr('readonly','readonly');$('#SiteExpTotDirect_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumMtCapDirTot']").sum({bind: "keyup", selector: "#SiteMCptlTotDirectCost_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotDirectCost_RT').attr('readonly','readonly');$('#SiteMCptlTotDirectCost_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumLbrRTTot']").sum({bind: "keyup", selector: "#SiteCostsTotLabor_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotLabor_RT').attr('readonly','readonly');$('#SiteCostsTotLabor_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumMatlCompRT']").sum({bind: "keyup", selector: "#SiteCostsCompMatl_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsCompMatl_RT').attr('readonly','readonly');$('#SiteCostsCompMatl_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumMatlContRT']").sum({bind: "keyup", selector: "#SiteCostsContMatl_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsContMatl_RT').attr('readonly','readonly');$('#SiteCostsContMatl_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumMtlRTTot']").sum({bind: "keyup", selector: "#SiteCostsTotMatl_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotMatl_RT').attr('readonly','readonly');$('#SiteCostsTotMatl_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumTotRTDir']").sum({bind: "keyup", selector: "#SiteCostsTotDirect_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotDirect_RT').attr('readonly','readonly');$('#SiteCostsTotDirect_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumCOSpptRTExp']").sum({bind: "keyup", selector: "#SiteCostsIndirectCompSupport_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsIndirectCompSupport_RT').attr('readonly','readonly');$('#SiteCostsIndirectCompSupport_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumCTSpptRTExp']").sum({bind: "keyup", selector: "#SiteCostsIndirectContSupport_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsIndirectContSupport_RT').attr('readonly','readonly');$('#SiteCostsIndirectContSupport_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumTotIndrRT']").sum({bind: "keyup", selector: "#SiteCostsTotIndirect_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotIndirect_RT').attr('readonly','readonly');$('#SiteCostsTotIndirect_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteTotExpRT']").sum({bind: "keyup", selector: "#SiteExpTotMaint_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotMaint_RT').attr('readonly','readonly');$('#SiteExpTotMaint_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteTotMCptlRT']").sum({bind: "keyup", selector: "#SiteMCptlTotCost_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotCost_RT').attr('readonly','readonly');$('#SiteMCptlTotCost_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteTotCostRT']").sum({bind: "keyup", selector: "#SiteCostsTotMaint_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotMaint_RT').attr('readonly','readonly');$('#SiteCostsTotMaint_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteExpManHrsRT']").sum({bind: "keyup", selector: "#SiteExpTotManHrs_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotManHrs_RT').attr('readonly','readonly');$('#SiteExpTotManHrs_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCptlManHrsRT']").sum({bind: "keyup", selector: "#SiteMCptlTotManHrs_RT",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotManHrs_RT').attr('readonly','readonly');$('#SiteMCptlTotManHrs_RT').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteExpLaborTA']").sum({bind: "keyup", selector: "#SiteExpTotLabor_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotLabor_TA').attr('readonly','readonly');$('#SiteExpTotLabor_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCptlLaborTA']").sum({bind: "keyup", selector: "#SiteMCptlTotLabor_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotLabor_TA').attr('readonly','readonly');$('#SiteMCptlTotLabor_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCompLaborTA']").sum({bind: "keyup", selector: "#SiteCostsCompLabor_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsCompLabor_TA').attr('readonly','readonly');$('#SiteCostsCompLabor_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteContLaborTA']").sum({bind: "keyup", selector: "#SiteCostsContLabor_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsContLabor_TA').attr('readonly','readonly');$('#SiteCostsContLabor_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCompMatlTA']").sum({bind: "keyup", selector: "#SiteCostsCompMatl_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsCompMatl_TA').attr('readonly','readonly');$('#SiteCostsCompMatl_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteContMatlTA']").sum({bind: "keyup", selector: "#SiteCostsContMatl_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsContMatl_TA').attr('readonly','readonly');$('#SiteCostsContMatl_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteExpMatlTA']").sum({bind: "keyup", selector: "#SiteExpTotMatl_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotMatl_TA').attr('readonly','readonly');$('#SiteExpTotMatl_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCptlMatlTA']").sum({bind: "keyup", selector: "#SiteMCptlTotMatl_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotMatl_TA').attr('readonly','readonly');$('#SiteMCptlTotMatl_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCompIndTA']").sum({bind: "keyup", selector: "#SiteCostsIndirectCompSupport_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsIndirectCompSupport_TA').attr('readonly','readonly');$('#SiteCostsIndirectCompSupport_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteContIndTA']").sum({bind: "keyup", selector: "#SiteCostsIndirectContSupport_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsIndirectContSupport_TA').attr('readonly','readonly');$('#SiteCostsIndirectContSupport_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteExpIndTA']").sum({bind: "keyup", selector: "#SiteExpTotIndirect_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotIndirect_TA').attr('readonly','readonly');$('#SiteExpTotIndirect_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCptlIndTA']").sum({bind: "keyup", selector: "#SiteMCptlTotIndirectCost_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotIndirectCost_TA').attr('readonly','readonly');$('#SiteMCptlTotIndirectCost_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteExpManHrsTA']").sum({bind: "keyup", selector: "#SiteExpTotManHrs_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotManHrs_TA').attr('readonly','readonly');$('#SiteExpTotManHrs_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCptlManHrsTA']").sum({bind: "keyup", selector: "#SiteMCptlTotManHrs_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotManHrs_TA').attr('readonly','readonly');$('#SiteMCptlTotManHrs_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteTotLaborTA']").sum({bind: "keyup", selector: "#SiteCostsTotLabor_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotLabor_TA').attr('readonly','readonly');$('#SiteCostsTotLabor_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteTotMatlTA']").sum({bind: "keyup", selector: "#SiteCostsTotMatl_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotMatl_TA').attr('readonly','readonly');$('#SiteCostsTotMatl_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteExpDirTA']").sum({bind: "keyup", selector: "#SiteExpTotDirect_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotDirect_TA').attr('readonly','readonly');$('#SiteExpTotDirect_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCostDirTA']").sum({bind: "keyup", selector: "#SiteCostsTotDirect_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotDirect_TA').attr('readonly','readonly');$('#SiteCostsTotDirect_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCptlDirTA']").sum({bind: "keyup", selector: "#SiteMCptlTotDirectCost_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotDirectCost_TA').attr('readonly','readonly');$('#SiteMCptlTotDirectCost_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCostIndTA']").sum({bind: "keyup", selector: "#SiteCostsTotIndirect_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotIndirect_TA').attr('readonly','readonly');$('#SiteCostsTotIndirect_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteExpTotTA']").sum({bind: "keyup", selector: "#SiteExpTotMaint_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteExpTotMaint_TA').attr('readonly','readonly');$('#SiteExpTotMaint_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCptlTotTA']").sum({bind: "keyup", selector: "#SiteMCptlTotCost_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteMCptlTotCost_TA').attr('readonly','readonly');$('#SiteMCptlTotCost_TA').change(function(){$(this).validate();});$("input[CalcTag*='sumSiteCostTotTA']").sum({bind: "keyup", selector: "#SiteCostsTotMaint_TA",oncalc: function(value,settings){ formatResult($(settings.selector),value);  }});$('#SiteCostsTotMaint_TA').attr('readonly','readonly');$('#SiteCostsTotMaint_TA').change(function(){$(this).validate();});$.getJSON('/App/GetComments',{ 'id' : '<%: ViewContext.RouteData.Values["id"] %>' ,  'section' : 'ST_COST'}, function(data){	var comments = $.parseJSON(data);	for(i = 0; i < comments.length; i ++ ){		var qidNm = comments[i]['CommentID'];		if($('img[qid="' + qidNm + '"]')){    		$('img[qid="' + qidNm + '"]').attr('src', '../../images/comment_icon_red.png');		}	}});<%= Model.isUnderReview ? "$('input, select').attr('disabled', 'disabled'); " : "" %>$('.rowdesc li div').prepend(  function (index, html) {   var gridId = $(this).closest('.grid').attr('id');   if ($.trim(html).indexOf('nbsp', 0) == -1) {        var newHTML = '<span> ' +       '<img src="../../images/comment_icon.gif" suid="<%= ViewContext.RouteData.Values["id"].ToString() %>"' +       ' qid= "' + gridId + '_' + index + '" onclick="recordComment();return false;" /></span> <span> ' + html +      '</span>';      }    $(this).html(newHTML);   }  );</script>

</asp:Content> 
