/*
 * SimpleModal Confirm Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2008 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: confirm.css 162 2008-12-01 23:36:58Z emartin24 $
 *
 */

#confirm
{
	display: none;
}

body
{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

/* Overlay */
#confirm-overlay
{
	background-color: #eee;
	cursor: wait;
}

/* Container */
#confirm-container
{
	height: 140px;
	width: 420px;
	font-family: 'Tahoma,Verdana, Arial';
	font-size: 12px;
	text-align: left;
	background: #fff;
	border: 2px solid #336699;
}
#confirm-container .header
{
	height: 30px;
	width: 100%;
	background: url(../images/confirm/header.gif) repeat-x;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 30px;
}
#confirm-container .header span
{
	padding-left: 8px;
}
#confirm-container .message
{
	color: #333;
	text-align: center;
	margin: 0;
	padding: 12px 4px;
	font-size: 1em;
}
#confirm-container .buttons
{
	width: 160px;
	float: right;
	padding: 10px 8px 0;
}
#confirm-container .buttons div
{
	float: right;
	margin-left: 8px;
	width: 70px;
	height: 26px;
	color: #708090;
	font-weight: bold;
	text-align: center;
	background: url(../images/confirm/button.gif) repeat-x;
	border: 1px solid #bbb;
	cursor: pointer;
}
#confirm-container a.modal-close, #confirm-container a.modal-close:link, #confirm-container a.modal-close:active, #confirm-container a.modal-close:visited
{
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	right: 10px;
	top: 2px;
	color: #fff;
}
#confirm-container a.modal-close:hover
{
	color: #ccc;
}