.NPanel
{
	/*overflow: auto; 	clip: rect(auto auto auto auto);*/
}

.static
{
	position: static;
}

#cPassword A:link
{
	color: #FFFFFF;
	text-decoration: none;
}
#cPassword A:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
#cPassword A:hover
{
	color: black;
	text-decoration: none;
}