.dd_menu
{
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: .95em Arial, Verdana, "Lucida Sans Unicode" , "Bitstream Vera Sans" , "Trebuchet Unicode MS" , "Lucida Grande" , Verdana, Helvetica, sans-serif;
	position: relative;
	top: 40px;
}
.dd_menu ul
{
	height: 35px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.dd_menu li
{
	float: left;
	padding: 0px;
}

.dd_menu li a
{
	/*background: #333333 url("../images/dd_seperator.gif") bottom right no-repeat;*/
	color: #991000;
	display: block;
	font-weight: normal;
	line-height: 35px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
	font-size: .90em;
	border-left: thin solid white;
	border-right: thin solid #ddd;
}
.dd_menu li a:hover
{
	border: 3px 1px 0 1px solid #666;
}
.dd_menu li a:hover, .dd_menu ul li:hover a
{
	background: #991000;
	color: #FFFFFF;
	text-decoration: none;
}

.dd_menu li ul
{
	background: #fff;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 230px;
	z-index: 4000; /*top:1em; 		/*left:0;*/
}

.dd_menu li:hover ul
{
	display: block;
}

.dd_menu li li
{
	background: #999 url(~/images/dd_sub_sep.gif) bottom left no-repeat;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 250px;
}

.dd_menu li:hover li a
{
	background: none;
}

.dd_menu li ul a
{
	display: block;
	height: 35px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

.dd_menu li ul a:hover, .dd_menu li ul li:hover a
{
	background: #ccc /*rl('../images/dd_hover_sub.gif') center left no-repeat*/;
	border: 1px solid #991000;
	color: #333;
	text-decoration: none;
}

.dd_menu p
{
	clear: left;
}