﻿<style type="text/css">
/* =========================================================================
For any free or commercial usage please keep this credits text intact.
Author : Femi Hasani www.vision.to ,test idea and CSS code.
The original version of this stylesheet and the associated (x)htmlis available at
http://www.vision.to/simple-css-one-level-flyout-menu.php
A link to www.vision.to would be apperciated but not mandatory.
=============================================================================== */
#navigation ul#nav
{
	 z-index: 5000;
	 width:200px;
	 border: 1px solid #4297d7;
 }

#navigation ul#nav li
{
	list-style:none;
	position: relative;
	/*float: left;*/  /* commented for flyout use else dropdown*/
	text-align: left;
	line-height: .8em;
	width:175px;
	border-bottom: 1px #EEE solid;
}

#navigation ul#nav li a
{
	display: block;
	padding: 12px 0;
	color: #555;
	text-decoration: none;
	/*	border-right: 1px solid #ccc;  */
	text-align: left;
	background:#fcfdfd ;
}

#navigation ul#nav li a span
{
	padding: 0 15px 0 10px;
	/*	background: url(arrow.gif) no-repeat 100% 50%;  optional */
}
#navigation ul#nav  li ul
{    display: block;
     position: absolute;
     /* hidding submenus based on: http://css-class.com/articles/ursidae/  */
     left: -999em;/* this makes it more accessible than display:none; */
     width: 162px;
     padding: 3px 8px 3px 8px;
     background:#fcfdfd ;
     border : 1PX SOLID #ccc;
 }

 #navigation ul#nav  li:hover ul,
 #navigation ul#nav  li.over ul
 {
 	display: block;
 	left: 135px;  /* the postion near main menu */
 	top: 0;       /* align with top of main menu */
 	position: absolute;
 	z-index: 4000;
 	width: 146px;
}

#navigation ul#nav  li ul li
{
	width: 146px;
	height: auto;
	background: transparent;
	text-indent: 0;
	padding: 0;
	border-bottom: 1px solid #eee;
}

#navigation ul#nav  li:hover ul li a,
#navigation ul#nav  li.over ul li a
{
	display: block;
	width: 126px;/*this is to adjust if used some background image for dropdown */
	background: transparent;
	padding: 15px 10px;
	text-decoration: none;
	margin: 0;
	color: #555;
	text-indent: 0;
	text-align: left;
	border: 0;
	white-space: nowrap;
}

#navigation ul#nav li ul li a:hover
{
	color: #FFF;
	background: #62686e;
}

#navigation ul#nav li.active a,
#navigation ul#nav li a:hover,
#navigation ul#nav li:hover a,
#navigation ul#nav li.over a
{
	background: #555;
	color: #EEE;
}
</style>