﻿#footer
{
	/* font: arial,tahoma;             font-size: xx-small;*/
	color: #999;
	background: #eee;
	height: auto;
	min-height: 225px; /* box-shadow:  0px 8px 10px rgba(50, 50, 50, 0.7);*/
}

#content
{
	background: #ffffff;
	overflow: hidden;
	box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
}

#header
{
	background: transparent url(https://webservices.solomononline.com/RAMStudy/images/header-background.png) repeat-x top; /*height:60px;*/ /* overflow: hidden;             box-shadow: 5px 10px 15px #333;*/
}

#MenuContent
{
	background: #333;
	overflow: hidden;
	box-shadow: 0px 8px 10px rgba(50, 50, 50, 0.7);
}

body
{
	background: #FFF url(https://webservices.solomononline.com/RAMStudy/images/header-background.png) repeat-x top; /* font: arial,tahoma;*/
}

#menuCtn
{
	position: absolute;
	display: block;
	width: 450px;
	top: 5px;
	left: 30%;
	z-index: 100;
}