﻿#nav
{
	width: 190px;
}

.sidebarmenu ul
{
	/*color: #FFF; 	font-weight: bold; 	background: #991000; 	border-bottom: 1px #eee dotted ;  	margin-top: 20px; 	margin-bottom: 20px; 	display: block; 	width: 100%;*/
	margin: 0;
	padding: 0;
	list-style-type: none; /*font: 400 12px "Century Gothic",Arial;*/
	width: 180px; /* Main Menu Item widths */
	border: 1px solid #eee;
	position: relative;
	z-index: 2000;
	box-shadow: 5px 5px 10px #eee;
}

.sidebarmenu ul li
{
	position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a
{
	display: block;
	overflow: auto; /*force hasLayout in IE7 */
	color: #991000;
	text-decoration: none;
	padding: 6px;
	border-bottom: 1px dotted #991000;
	border-right: 1px solid #991000;
}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active
{
	background-color: #FFFFFF; /*background of tabs (default state)*/
}

.sidebarmenu ul li a.selected
{
	color: white;
	text-shadow: 0 1px 1px black;
	background-color: #991000;
}

.sidebarmenu .menuheader
{
	font-weight: bold;
	padding: 6px;
	background-color: #D9CECE;
	color: #991000;
	border-bottom: 1px solid #825252;
}

.sidebarmenu ul li a:hover
{
	color: white;
	background: #BF5E5E;
}

/*Sub level menu items */
.sidebarmenu ul li ul
{
	position: absolute;
	width: 170px; /*Sub Menu Items width */
	top: 0;
	visibility: hidden;
}

.sidebarmenu a.subfolderstyle
{
	background: url('../images/red_right_arrow.gif') no-repeat 97% 50%;
}