﻿.btnNavWindow
{
	position: absolute;
	top: 25%;
	background: #991000;
	font: #333 1em Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #FFF;
	text-transform: uppercase;
	cursor: pointer;
	width: 25px;
	min-height: 120px;
	text-align: center;
	word-wrap: break-word;
	letter-spacing: 20px;
	line-height: 1.2;
	z-index: 90;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border: 1px solid #eee;
	border-left: 0 !important;
	box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px rgba(0,0,255,1);
	-moz-box-shadow: 0 0 5px rgba(0,0,255,1);
	behavior: url(https://webservices.solomononline.com/RAMStudy/Content/PIE.htc);
	padding: 1px 6px;
}
.navWindow
{
	font-size: .90em;
	z-index: 200;
	height: 100%;
	min-height: 100%;
	overflow:visible;
	width: 500px;
	border: 1px solid #999;
	position: absolute;
	left: -500px;
	top: 0;
	display: inline;
	background: #FFF8DC;
}
div.navWindow ul
{
	width: 150px;
	list-style: none;
	line-height: 1.5;
}
div.navWindow ul li a
{
	display: block;
	width: 100%;
}
div.navWindow ul li a:hover
{
	border: thin solid #991000;
	color: #333;
	background-color: #999;
}
.navWindow H5
{
	font-size: 16px;
	margin-left: 20px;
}
.navWindow ul li
{
	padding-left: 10px;
	line-height: 1.5;
	width: 190px;
}
div.unitsContainer
{
	margin: 0;
}
div.unitsContainer ul
{
	list-style: disc;
	margin-bottom: 10px;
}
.navWindow div.unitsContainer ul li
{
	margin-bottom: 5px;
	padding-left: 10px !important;
	width: 90% !important;
}
.navWindow .sep
{
	border-top: #F5DEB3 solid 1px;
	width: 100%;
}
.aboutHeader
{
	font: 15px #ccc Arial,Verdana;
	margin-left: 20px;
	display: block;
	width: 225px;
	border-bottom: 1px solid #eee;
}
li.subHeader
{
	margin-left: 0 !important;
	padding-left: 0 !important;
	width: 90% !important;
	font-weight: 700;
	color: #991000;
	border-bottom: thin #F5DEB3 double;
	list-style: none !important;
}
.rightPointerNav
{
	background-image: url("../images/grey-arrow-right.gif");
	background-repeat: no-repeat;
	background-position: left 5px;
	cursor: pointer;
}
.downPointerNav
{
	background-image: url("../images/grey-arrow-down.gif");
	background-repeat: no-repeat;
	background-position: left 5px;
	cursor: pointer;
}
.btnNavWindow:hover
{
	background-color: #991000;
	color: #FFF;
	border-color: #FFF;
}
div.unitContainer li.rightPointerNav, div.unitContainer li.downPointerNav
{
	background-position: 15px 5px !important;
}