/*
  SmartTab plugin v0.99
  jQuery Tab Control Plugin

  http://tech-laboratory.blogspot.com
  http://techlaboratory.wordpress.com
*/

.stContainer div
{
	/* -webkit-border-radius: 5px;      -webkit-border-top-left-radius     -webkit-border-top-right-radius */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	position: relative;
	margin: 0;
	border: 1px solid #CCC;
	padding: 10px;
	border-bottom-width: 0 !important;
	height: 700px;
	width: 905px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #5A5655;
	background-color: #F8F8F8;
	text-align: left;
	overflow: auto;
}
.stContainer ul
{
	display: block;
	list-style: none;
	position: relative;
	padding: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 5px;
	margin: 0;
	width: 920px;
	height: 70px;
	clear: both;
	border: 1px solid #CCCCCC;
	background: #EEEEEE;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}
.stContainer ul li
{
	position: relative;
	margin: 0;
	padding: 0;
	border-top: 0px solid #E0E0E0 !important;
	border-right: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	float: left;
}
.stContainer ul li a
{
	display: block;
	margin: 0;
	padding: 3px;
	text-decoration: none;
	height: 64px;
	width: 175px;
	color: #0464BB;
	outline-style: none;
}
.stContainer ul li a img
{
	display: block;
	margin: 0;
	padding: 3px;
	height: 50px;
	width: 50px;
	float: left;
}
.stContainer ul li a .StepTitle
{
	display: block;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	float: left;
}
.stContainer ul li a small
{
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	float: left;
}
.stContainer ul li a:hover
{
	color: #FFF;
	background: #EA8511;
}
.stContainer ul li a.selected
{
	position: relative;
	top: -1px;
	height: 64px;
	color: #EA8511;
	background: #F8F8F8;
	cursor: text;
}

.stContainer ul.anchor li a.selected:hover
{
	color: #F8F8F8;
	background: #BF5E5E;
}

.stContainer ul li a.disabled
{
	color: #CCCCCC;
	background: #F8F8F8;
	cursor: text;
}

/*.stContainer ul.anchor li a*/.stepNumber
{
	position: relative;
	float: left;
	width: 30px;
	text-align: center;
	padding: 5px;
	padding-top: 0;
	font: bold 35px Verdana, Arial, Helvetica, sans-serif;
}
/*.stContainer ul.anchor li a*/.stepDesc
{
	position: relative;
	display: block;
	float: left;
	text-align: left;
	padding: 5px;
	width: 70%;
	font: bold 16px Verdana, Arial, Helvetica, sans-serif;
}
.stContainer ul.anchor li a .stepDesc small
{
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

.StepTitle
{
	display: block;
	position: relative;
	margin: 0;
	border: 1px solid #E0E0E0;
	padding: 5px;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #5A5655;
	background-color: #E0E0E0;
	clear: both;
	text-align: left;
	z-index: 88;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.stContainer ul.anchor li a.selected:hover
{
	color: #F8F8F8;
	background: #BF5E5E;
}

.stContainer ul.anchor li a.done
{
	position: relative;
	color: #FFF;
	background: #C78181;
	border: 1px solid #C78181;
	z-index: 99;
}
.stContainer ul.anchor li a.done:hover
{
	color: #5A5655;
	background: #E3A112;
	border: 1px solid #5A5655;
}