﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<RAMAPP_Mvc3.Entity.Comments>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>DeleteComment</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
