<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>About the JW Player 5</title>

	<style type="text/css">
		body { background-color: #fff; padding: 0 20px; color:#000; font: 13px/18px Arial, sans-serif; }
		a { color: #360; }
		h3 { padding-top: 20px; }
		ol { margin:5px 0 15px 16px; padding:0; list-style-type:square; }
	</style>
    <script type="text/javascript">
        var vidlist = {
                    
                       2:["http://solomononline.com/downloads/RAMStudyWebinarModules/Module-2-Part-1.mp4" , "Module 2 (Part 1) - Intro & General Info"],
                       3:["http://solomononline.com/downloads/RAMStudyWebinarModules/Module-2-Part-2.mp4" ,"Module 2 (Part 2) - Intro & General Info"],
                       4:["http://solomononline.com/downloads/RAMStudyWebinarModules/Module-3.mp4","Module 3 - Site & Unit Characteristics"],
                       5:["http://solomononline.com/downloads/RAMStudyWebinarModules/Module-4.mp4","Module 4 - Maintenance Costs"],
                       6:["http://solomononline.com/downloads/RAMStudyWebinarModules/Module-5.mp4","Module 5 - Organization"],
                       7:["http://solomononline.com/downloads/RAMStudyWebinarModules/Module-6.mp4","Module 6 - MRO Inventory"],
                       8:["http://solomononline.com/downloads/RAMStudyWebinarModules/Module-7.mp4","Module 7 - Work Processes"],
                       9:["http://solomononline.com/downloads/RAMStudyWebinarModules/Module-8.mp4","Module 8 - Reliability"]
                      };
        
        
    
    </script>
</head>
<body>

	<!-- START OF THE PLAYER EMBEDDING TO COPY-PASTE -->
	
	<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js">
</script>


	<script type="text/javascript" src="../../Videos/jwplayer.js"></script>
<!--	<script type="text/javascript">
		jwplayer("mediaplayer").setup({
			flashplayer: "player.swf",
			file: "video.mp4",
			image: "<%:Url.Content("~/images/SA logo SQUARE_sm.png") %>"
		});
	</script>-->

  <script type="text/javascript">
      var qs = (function (a) {
          if (a == "") return {};
          var b = {};
          for (var i = 0; i < a.length; ++i) {
              var p = a[i].split('=');
              if (p.length != 2) continue;
              b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
          }
          return b;
      })(window.location.search.substr(1).split('&'));

      var sel = qs['vid'];
  var flashvars = {

    file:vidlist[sel][0],
    provider:'https',
    image: "https://webservices.solomononline.com/RAMStudy/images/SA logo SQUARE_sm.png"
  };

  swfobject.embedSWF('player.swf','container','480','270','9.0.115','false', flashvars,

   {allowfullscreen:'true',allowscriptaccess:'always'},
   {id:'jwplayer',name:'jwplayer'}

  );
</script>
	<!-- END OF THE PLAYER EMBEDDING -->


</body>
</html>