﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<ul id="menu">
    <%--<li>
        <%= Html.ActionLink("HOME","Index","Home")%></li>
 
    <li>
        <%= Html.ActionLink("CONTACT US", "ContactUs", "Home")%></li>--%>
</ul>
