﻿<%@ Master AutoEventWireup="true" CodeBehind="RAM_Profile.Master.cs" Inherits="RAMAPP_Mvc3.Views.Shared.RAM_Profile"
    Language="C#" %>

<%@ Register Src="~/Views/Shared/SiteUnitControl.ascx" TagName="SiteUnitMenu" TagPrefix="uc" %>
<%@ Register Src="~/Views/Shared/TabControl.ascx" TagName="TabControl" TagPrefix="uc" %>
<%@ Register Src="~/Views/Shared/AppMenuUserControl.ascx" TagPrefix="uc" TagName="AppMenu" %>
<%@ Import Namespace="RAMAPP_Mvc3.Helpers" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<head id="Head1" runat="server" >
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<%--<script src="<%= Page.ResolveUrl("~/Scripts/modernizr-1.7.min.js") %>" type="text/javascript"></script>--%>
    <title>Reliability And Maintenance Study</title>
    <link media="all" href="<%= Page.ResolveUrl("~/Content/sIFR/all.css") %>" type="text/css" rel="stylesheet" />
    <link href="<%= Page.ResolveUrl("~/Content/fluid_grid.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/Content/sa_style.css") %>" rel="stylesheet" type="text/css" />
    <link media="screen" href="<%= Page.ResolveUrl("~/Content/content.css") %>" rel="stylesheet" />
    <link href="<%= Page.ResolveUrl("~/Content/jquery-ui-1.8.15.custom.css") %>" type="text/css" rel="stylesheet" />
    <link href="<%= Page.ResolveUrl("~/Content/confirm.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/Content/flyoutmenu.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/Content/Site.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/Content/jquery.countdown.css") %>" rel="stylesheet" type="text/css" />
      <link media="screen" href="<%= Page.ResolveUrl("~/Content/LayoutSection.css") %>"
        rel="stylesheet" type="text/css" />

    <style type="text/css">
        
       /*behavior: url(<%= Page.ResolveUrl("~/Content/PIE.htc") %>);*/
       /* #footer
        {
            font: arial,tahoma;
            font-size: xx-small;
            color: White;
            background: #1f2632;
            height: auto;
            min-height: 225px;
        }*/
        
       /* #content
        {
            background: #ffffff;
            overflow: hidden;
        }*/
        
        /*#header
        {
            background: #ffffff;
            overflow: hidden;
        }
        
        #MenuContent
        {
            background: #333;
            overflow: hidden;
        }*/
    </style>
    <style type="text/css">
        .questionblock
        {
            margin-left: 0;
            margin: 20px 0px;
            border-bottom: #EEE 1px solid;
        }
        .grid
        {
            display: inline-table;
            margin: 0px 0px;
        }
        .grid ul
        {
            margin-left: 0;
            padding-left: 5px;
            padding-right: 5px;
            display: block;
            margin: 0px 0px;
            float: left;
            max-width: 325px;
            list-style: none;
            line-height: normal;
            list-style-position: outside;
        }
        .grid ul li
        {
            align: left;
            valign: middle;
            height: 55px;
            display: block;
            border-bottom: #EEE 1px solid;
        }
        .grid .gridbody
        {
            border-left: #EEE 1px solid;
        }
        
        /* Styles for validation helpers
-----------------------------------------------------------*/
        .field-validation-error
        {
            color: #ff0000;
        }
        
        .field-validation-valid
        {
            display: none;
        }
        
        .input-validation-error
        {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }
        
        .validation-summary-errors
        {
            font-weight: bold;
            color: #ff0000;
        }
        
        .validation-summary-valid
        {
            display: none;
        }
        
        /* Styles for editor and display helpers
----------------------------------------------------------*/
        .display-label, .editor-label, .display-field, .editor-field
        {
            margin: 0.5em 0;
        }
        
        .text-box
        {
            width: 30em;
        }
        
        .text-box.multi-line
        {
            height: 6.5em;
        }
        
        .tri-state
        {
            width: 6em;
        }
        
        /*------------Style for glow effect --------------*/
        input
        {
            outline: none;
            transition: all 0.25s ease-in-out;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border: 1px solid rgba(0,0,0, 0.2);
        }
        
        input:focus, .glow
        {
            box-shadow: 0 0 5px rgba(0, 0, 255, 1);
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
            -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
            border: 1px solid rgba(0,0,255, 0.8);
        }
        
        .watermark
        {
            color: #aaa !important;
        }
        
        /* Used in tooltip and helo*/
        .html, .jquery, .tooltipIndicator
        {
            font: 200 11px Arial, Helvetica, sans-serif; /*margin: 10px 10px 0 0;*/
            color: #6e94c4;
            cursor: pointer;
            width: 85px;
        }
        
   /*     .upPointer
        {
            background: url(http://i633.photobucket.com/albums/uu52/coky_tompul/arrow-up.gif) no-repeat 55px 2px;
        }
        
        .downPointer
        {
            background: url(http://i633.photobucket.com/albums/uu52/coky_tompul/arrow-down.gif) no-repeat 55px 2px;
        }
        
        .tooltip
        {
            position: relative;
            left: 5px;
            padding-left: 45px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            width: 85%;
            background: #F2FAFA;
            border: #eeeeee 1px solid;
        }
        
        .tooltop legend
        {
            display: none;
        }
        */
        .ReportInUnit
        {
            display: inline-block;
            margin: 5px 5px;
            padding-left: 5px;
            color: #778899;
        }
        
        #tabContainer
        {
            min-height: 700px;
        }
        
        #menuCtn
       {
       	 
       	  position:absolute;
       	 
       	  display:block;
       	  width: 385px;
       	  top: 35px ! important;
       	  /*top: -3px;*/
       	  left: 20%;
       	  z-index:100;
       }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
        &nbsp;
    </asp:ContentPlaceHolder>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <script src="<%= Page.ResolveUrl("~/Scripts/jquery-ui-1.8.15.custom.min.js")%>" type="text/javascript"></script>

    <script src="<%= Page.ResolveUrl("~/Scripts/jquery.validate.js")%>" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
   
</head>
<body>
    <div id="header" class="container_16" sizcache="2460" sizset="0">
        <div class="grid_13">
            <a href="http://www.solomononline.com">
                <img alt="" src="~/images/solomon-logo.gif" runat="server" border="0" /></a>
        </div>
        <div class="grid_3" align="left" style="font-size: .90em;">
          
           <%-- <img border="0" alt="logout" src="<%= Page.ResolveUrl("~/images/logout.png") %>"
                style="padding-bottom: 4px; vertical-align: middle;" /> --%>
            <%= Html.ActionLink("Logout","LogOff","Account") %>
            <br />
           <%-- <img border="0" alt="logout" src="<%= Page.ResolveUrl("~/images/my-account.png") %>"
                style="padding-bottom: 4px; vertical-align: middle;" /> --%>
            <%= Html.ActionLink("My Profile","Index","Profile") %>
            <br />
            <br />
        </div>
    </div>
   
        <div id="menuCtn" class="dd_menu">
            <ul>
                <li>
                    <%: Html.ActionLink("Home","Index","App")%>     
               </li>
               <%if (!SessionUtil.GetCompanySID().Contains("04TEST")){ %>
               <li>
                <%: Html.ActionLink("Change Password","ChangePassword","Account") %>
               </li>
               <%} %>
            </ul>
        </div>
    
    <div id="content" class="container_16" >
        <div class="ui-widget">
            <div id="SessionAlert" class="ui-state-error ui-corner-all grid_16" style="padding: 0">
                <p>
                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Alert:</strong> <span id="sessionmsg">Session will expire soon because appears
                        that have you have been idle. <a href="javascript:SaveTabInput();" style="color: Blue">
                            Click here</a> to save and refresh your session. Time remaining <span id="timeremaining">
                            </span></span>
                </p>
            </div>
        </div>
        <div class="grid_4" style="margin-top:20px;">
            <asp:ContentPlaceHolder ID="RightContent" runat="server">
               &nbsp;
            </asp:ContentPlaceHolder>
        </div>
        <div class="grid_12" sizcache="1300" sizset="0" style="min-height: 400px;margin-top:20px;">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                &nbsp;
            </asp:ContentPlaceHolder>
        </div>
    </div>
    <div id="footer" class="container_16">
        <div class="grid_5" >
            <asp:ContentPlaceHolder ID="footer1" runat="server">
                &nbsp;
            </asp:ContentPlaceHolder>
        </div>
        <div class="grid_5">
            <asp:ContentPlaceHolder ID="footer2" runat="server">
                &nbsp;
            </asp:ContentPlaceHolder>
        </div>
        <div class="grid_5">
            <asp:ContentPlaceHolder ID="footer3" runat="server">
                &nbsp;
            </asp:ContentPlaceHolder>
        </div>
    </div>
    <div class="copy-supertiny" align="center">
        © 2011-<%= DateTime.Now.Year.ToString() %>, HSB Solomon Associates,LLC</div>
  
 
   
  
    <script src="<%= Page.ResolveUrl("~/Scripts/jquery-ui-1.8.15.custom.min.js") %>" type="text/javascript"></script>
    <script src="<%= Page.ResolveUrl("~/Scripts/Watermark.js") %>" type="text/javascript"></script>
<%--    <script type="text/javascript">
        //used with jquery.calculation for summing numbers in a foreign number format
        $.Calculation.setDefaults({
            // a regular expression for detecting foregin formatted numbers
            reNumbers: /(-|-\$)?(\d+(\<%=System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberGroupSeparator %>\d{3})*(<%= System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator %>\d{1,})?|<%= System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator %>\d{1,}|<%= System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator %>\d{1,})?/g
            // define a procedure to convert the string number into an actual usable number
        , cleanseNumber: function (v) {
            // cleanse the number one more time to remove extra data (like commas and dollar signs)
            // use this for foreign numbers: v.replace(/[^0-9,\-]/g, "").replace(/,/g, ".")
            // alert(v);
           
            return v.replace(/[^0-9<%= System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator %>\-]/g, "").replace(/,/g, ".");
        }
        });

    </script>--%>
    <script type="text/javascript">

         var sessiontimeout = <%: (Session.Timeout-2)*60*1000 %>;    
         
		//Alerts that the session is expired
		function sessionClosed()
		{
		   $("#sessionmsg").html(' Your session has expired. Some of your data may have been lost. Please login again if you wish to continue.');
		}

 
		
		$(document).ready(function () {
		    
		   
            
            //add watermark
            $('input:text,textarea,input:password').each(function (index) {
                $(this).watermark({ watermarkText: $('label[for=' + $(this).attr('name') + ']').html(), watermarkCssClass: 'watermark' });
                $('label[for=' + $(this).attr('name') + ']').hide();
            });

		  //load session timeout alert
			$("#SessionAlert").hide().delay(sessiontimeout).fadeIn(2000,
								function () {
									var shortly = new Date();
									shortly.setSeconds(shortly.getSeconds() + 117);
									$('#timeremaining').countdown({ until: shortly, format: 'MS',compact:true , onExpiry: sessionClosed});
									
								});



		});
		
		
		
    </script>
</body>
</html>
