﻿<%@ Master AutoEventWireup="true" CodeBehind="RAM_App.master.cs" Inherits="RAMAPP_Mvc3.Views.Shared.RAM_App"
    Language="C#" %>

<%@ Import Namespace="RAMAPP_Mvc3.Helpers" %>
<%@ Import Namespace="SquishIt.Framework" %>
<%@ Register Src="~/Views/Shared/SiteUnitControl.ascx" TagName="SiteUnitMenu" TagPrefix="uc" %>
<%@ Register Src="~/Views/Shared/TabControl.ascx" TagName="TabControl" TagPrefix="uc" %>
<%@ Register Src="~/Views/Shared/AppMenuUserControl.ascx" TagPrefix="uc" TagName="AppMenu" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" class='no-js'>
    <%

        var contentBase = Page.ResolveUrl("~/Content");
    %>
    <title>Reliability And Maintenance Study</title>
    <link media="print" href="<%= contentBase + "/print.css"  %>" rel="stylesheet" type="text/css" />
    <link media="all" href="<%= contentBase +"/sIFR/all.css" %>" type="text/css" rel="stylesheet" />
   
    <%= Bundle.Css().WithAttributes(new Dictionary<string,string>{{"media","screen"}})
    .Add(contentBase + "/fluid_grid.min.css")
    .Add(contentBase + "/sa_style.css")
    .Add(contentBase + "/jquery-ui-1.8.15.custom.css")
   // .Add(contentBase + "/confirm.css")
    //.Add(contentBase + "/flyoutmenu.css")
    .ForceRelease()
    .Render(contentBase + "/app_combined1.css")
    %>


     <%= Bundle.Css().WithAttributes(new Dictionary<string,string>{{"media","screen"}})
    .Add(contentBase + "/jquery.countdown.css")
    .Add(contentBase + "/smart_tab_vertical.min.css")
    .Add(contentBase + "/LayoutSection.css")
    .Add(contentBase + "/jquery.qtip.min.css")
    .Add(contentBase + "/SlidingNav.min.css")
    .Add(contentBase + "/InputHighlight.min.css")
    .ForceRelease()
    .Render(contentBase + "/app_combined2.css")
    %>
    <%--  <link media="screen" href="<%= Page.ResolveUrl("~/Content/fluid_grid.css") %>" rel="stylesheet"
        type="text/css" />
    <link href="<%= Page.ResolveUrl("~/Content/sa_style.css") %>" rel="stylesheet" type="text/css" />
    <link media="screen" href="<%=Page.ResolveUrl("~/Content/jquery-ui-1.8.15.custom.css") %>"
        type="text/css" rel="stylesheet" />
    <link media="screen" href="<%= Page.ResolveUrl("~/Content/confirm.css") %>" rel="stylesheet"
        type="text/css" />
    <link media="screen" href="<%= Page.ResolveUrl("~/Content/flyoutmenu.css") %>" rel="stylesheet"
        type="text/css" />--%>
    <link href="<%= Page.ResolveUrl("~/Content/Site.min.css") %>" rel="stylesheet" type="text/css" />
    <%--    <link media="screen" href="<%= Page.ResolveUrl("~/Content/jquery.countdown.css") %>"
        rel="stylesheet" type="text/css" />
    <link media="screen" href="<%= Page.ResolveUrl("~/Content/smart_tab_vertical.css") %>"
        rel="stylesheet" type="text/css" />
    <link media="screen" href="<%= Page.ResolveUrl("~/Content/LayoutSection.css") %>"
        rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/Content/jquery.qtip.min.css") %>" rel="stylesheet"
        type="text/css" />
    <link href="<%= Page.ResolveUrl("~/Content/SlidingNav.css") %>" rel="stylesheet"
        type="text/css" />
    <link href="<%= Page.ResolveUrl("~/Content/InputHighlight.css") %>" rel="stylesheet"
        type="text/css" />
    --%>
    <style type="text/css">
input[type=radio],input[type=checkbox]{background:0;border:0;color:#991000}
.numbering{color:#555;font-size:100%}
.dialog{font-family:Arial,Helvetica,sans-serif;font-size:14px;font-weight:300;color:#991000;text-align:center;background-color:#fff;overflow:hidden;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;behavior:url("<%= Page.ResolveUrl("~/Content/PIE.htc") %>");border-color:#991000;border-style:solid;padding:10px}
.ttlfld,.formfld{background:#f6f7e1;border:#DAA520 1px solid}
#commentDiv{-moz-box-shadow:0 0 8px #666;-webkit-box-shadow:0 0 8px #666;box-shadow:0 0 8px #666;display:none;}
#helpDiv{display:none;}
#savingDiv{display:none;}
.questionblock{border-bottom:#EEE 1px solid;margin:20px 0}
.grid{display:inline-table;border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;min-width:75px;margin:0}
.gridrowtext{min-width:75px;max-width:290px;display:inline-block;margin:4px 0;padding:4px 0}
.gridrow{display:inline-block;margin:4px 0;padding:4px 0}
.gridrow1{display:inline-block;margin:4px 0;padding:4px 0; border-left:#EEE 1px solid;}
.grid ul{padding-left:0;padding-right:0;display:block;float:left;max-width:290px;list-style:none;line-height:normal;list-style-position:outside;margin:0}
.grid ul li{overflow:hidden;text-align:left;vertical-align:middle;height:65px;display:block;border-bottom:#EEE 1px solid;padding-left:5px;padding-right:5px;margin:0 auto}
.grid ul li input,.grid ul li table{display:block;margin-left:auto;margin-right:auto}
.grid ul li.columndesc{text-align:center;font-size:.90em;max-width:110px;margin:auto 0}
.grid .gridbody{border-left:#EEE 1px solid}
.grid .gridbody1{border-left:#EEE 0px solid}
li.gridrow img{position:relative;top:-3px;left:0;cursor:pointer}
.rowdesc{font-size:.90em;padding-left:10px}
.columndesc{text-align:center;font-size:.90em;color:#FFF;background-color:#c4493b;vertical-align:middle;  border-bottom: 3px solid goldenrod !important;}
.field-validation-error{color:red}
.input-validation-error{border:1px solid red;background-color:#fee}
.validation-summary-errors{font-weight:700;color:red}
.display-label,.editor-label,.display-field,.editor-field{margin:.5em 0}
.text-box{width:30em}
.text-box.multi-line{height:6.5em}
.tri-state{width:6em}
input[readonly].not(.ttlfld .formfld){background:#eee;border:#ccc}
.watermark{color:#aaa!important}
.html,.jquery,.tooltipIndicator{position:relative;left:5px;font:500 10px Arial,Helvetica,sans-serif;color:#999;text-transform:uppercase;cursor:pointer;width:75px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;border:1px solid #eee;border-bottom:0!important;margin:10px 5px 0 0;padding:5px}
a[tooltip]{cursor:help;color:#c4493b;border-bottom:dotted 1px #991000}
.aboutHeader{background:#ccc;font:15px #ccc Arial,Verdana;margin-left:20px;text-transform:capitalize;display:block;width:225px;border-bottom:1px solid #eee}
.tooltip{position:relative;left:5px;width:85%;background:#f2fafa;border:#eee 1px solid;color:#333;font-size:12px;font-family:Tahoma,Arial;text-align:justify;padding:10px 20px 10px 45px}
.tooltop strong{color:#000}
.tooltip .helplink a:link{color:#991000;font-family:Tahoma,Arial;font-size:10px}
.ReportInUnit{display:inline-block;padding-left:5px;color:#789;margin:5px}
#tabContainer{min-height:700px;min-width:985px;max-width:1025px}
#crumbCont{display:block;height:30px;max-width:1025px;border-bottom:1px #911000 dotted;font-size:.90em;color:#999;padding:20px 5px 0}
#crumbCont .right{position:absolute;right:0;display:inline-block;width:200px}
#crumbCont .left{position:relative;left:0}
.calctext{color:#c44934;font-weight:600}
img[class=tooltipBtn]{cursor:pointer}
#menuCtn{position:absolute;display:block;width:685px!important;top:-5px!important;left:15%;z-index:100;margin:0}
input.readOnly{border:1px solid #ccc;background:#eee}
.tooltipBtn{visibility:hidden}
p.StepTitle{text-transform:uppercase}
p.StepTitle a{color:#991000}
.qtip{font-size:.80em!important;text-align:justify!important}
.field-validation-valid,.validation-summary-valid,.tooltop legend{display:none}
#content,#footer{position:relative;top:2px}
/*div.navWindow{left:-250px;width:250px;}*/
    </style>
    <%--   <style type="text/css">
        input[type=radio], input[type=checkbox]
        {
            background: 0;
            border: 0;
            color: #991000;
        }
        .numbering
        {
            color: #555;
            font-size: 100%;
        }
        .dialog
        {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: #991000;
            text-align: center;
            background-color: #fff;
            border-style: solid;
            border-color: #991000;
            padding: 10px;
            overflow: hidden;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            behavior: url("<%= Page.ResolveUrl("~/Content/PIE.htc") %>");
        }
        .ttlfld, .formfld
        {
            background: #f6f7e1;
            border: goldenrod 1px solid;
        }
        #commentDiv
        {
            -moz-box-shadow: 0 0 8px #666;
            -webkit-box-shadow: 0 0 8px #666;
            box-shadow: 0 0 8px #666;
        }
        .questionblock
        {
            margin-left: 0;
            margin: 20px 0;
            border-bottom: #EEE 1px solid;
        }
        .grid
        {
            display: inline-table;
            margin: 0;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            min-width: 75px;
        }
        .gridrowtext
        {
            min-width: 75px;
            max-width: 290px;
            display: inline-block;
            margin: 4px 0;
            padding: 4px 0;
        }
        .gridrow
        {
            display: inline-block;
            margin: 4px 0;
            padding: 4px 0;
        }
        .grid ul
        {
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 0;
            padding-right: 0;
            display: block;
            margin: 0;
            float: left;
            max-width: 290px;
            list-style: none;
            line-height: normal;
            list-style-position: outside;
        }
        .grid ul li
        {
            overflow: hidden;
            text-align: left;
            vertical-align: middle;
            height: 55px;
            display: block;
            border-bottom: #EEE 1px solid;
            padding-left: 5px;
            padding-right: 5px;
            margin: 0 auto;
        }
        .grid ul li input, .grid ul li table
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .grid ul li.columndesc
        {
            text-align: center;
            font-size: .90em;
            max-width: 110px;
            margin: auto 0;
        }
        .grid .gridbody
        {
            border-left: #EEE 1px solid;
        }
        li.gridrow img
        {
            position: relative;
            top: -3px;
            left: 0;
            cursor: pointer;
        }
        .rowdesc
        {
            font-size: .90em;
            padding-left: 10px;
        }
        .columndesc
        {
            text-align: center;
            font-size: .90em;
            color: White;
            background-color: #c4493b;
            vertical-align: middle;
        }
        .field-validation-error
        {
            color: #f00;
        }
        .field-validation-valid
        {
            display: none;
        }
        .input-validation-error
        {
            border: 1px solid #f00;
            background-color: #fee;
        }
        .validation-summary-errors
        {
            font-weight: bold;
            color: #f00;
        }
        .validation-summary-valid
        {
            display: none;
        }
        .display-label, .editor-label, .display-field, .editor-field
        {
            margin: .5em 0;
        }
        .text-box
        {
            width: 30em;
        }
        .text-box.multi-line
        {
            height: 6.5em;
        }
        .tri-state
        {
            width: 6em;
        }
        input[readonly].not(.ttlfld .formfld)
        {
            background: #eee;
            border: #ccc;
        }
        .watermark
        {
            color: #aaa !important;
        }
        .html, .jquery, .tooltipIndicator
        {
            position: relative;
            left: 5px;
            font: 500 10px Arial,Helvetica,sans-serif;
            color: #999;
            text-transform: uppercase;
            cursor: pointer;
            width: 75px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border: 1px solid #eee;
            border-bottom: 0 !important;
            margin: 10px 5px 0 0;
            padding: 5px 5px;
        }
        a[tooltip]
        {
            cursor: help;
            color: #c4493b;
            border-bottom: dotted 1px #991000;
        }
        .aboutHeader
        {
            background: #ccc;
            font: 15px #ccc Arial,Verdana;
            margin-left: 20px;
            text-transform: capitalize;
            display: block;
            width: 225px;
            border-bottom: 1px solid #eee;
        }
        .tooltip
        {
            position: relative;
            left: 5px;
            padding-left: 45px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            width: 85%;
            background: #f2fafa;
            border: #eee 1px solid;
            color: #333;
            font-size: 12px;
            font-family: Tahoma,Arial;
            text-align: justify;
        }
        .tooltop strong
        {
            color: #000;
        }
        .tooltop legend
        {
            display: none;
        }
        .tooltip .helplink a:link
        {
            color: #991000;
            font-family: Tahoma,Arial;
            font-size: 10px;
        }
        .ReportInUnit
        {
            display: inline-block;
            margin: 5px 5px;
            padding-left: 5px;
            color: #789;
        }
        #tabContainer
        {
            min-height: 700px;
            min-width: 985px;
            max-width: 1025px;
        }
        #crumbCont
        {
            padding: 5px;
            padding-bottom: 0;
            display: block;
            height: 30px;
            max-width: 1025px;
            border-bottom: 1px #911000 dotted;
            padding-top: 20px;
            font-size: .90em;
            color: #999;
        }
        #crumbCont .right
        {
            position: absolute;
            right: 0;
            display: inline-block;
            width: 200px;
        }
        #crumbCont .left
        {
            position: relative;
            left: 0;
        }
        .calctext
        {
            color: #c44934;
            font-weight: 600;
        }
        #content
        {
            position: relative;
            top: 2px;
        }
        #footer
        {
            position: relative;
            top: 2px;
        }
        img[class=tooltipBtn]
        {
            cursor: pointer;
        }
        #menuCtn
        {
            position: absolute;
            margin: 0;
            display: block;
            width: 685px !important;
            top: -5px !important;
            left: 15%;
            z-index: 100;
        }
        input.readOnly
        {
            border: 1px solid #ccc;
            background: #eee;
        }
        .tooltipBtn
        {
            visibility: hidden;
        }
        p.StepTitle
        {
            text-transform: uppercase;
        }
        p.StepTitle a
        {
            color: #991000;
        }
        .qtip
        {
            font-size: .80em !important;
            text-align: justify !important;
        }
    </style>
    --%>
    <asp:ContentPlaceHolder ID="head" runat="server">
        &nbsp;
    </asp:ContentPlaceHolder>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"
        type="text/javascript"></script>
    <%--  <script src="https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"
        type="text/javascript"></script>--%>
    <%--    <%= Bundle.JavaScript()
    .Add( Page.ResolveUrl("~/Scripts") +"/jQuery.validity.min.js")
    .Add( Page.ResolveUrl("~/Scripts")  +"/jquery.countdown.min.js")
    .Add( Page.ResolveUrl("~/Scripts") + "/RAM.js")
    .ForceRelease()
    .Render(Page.ResolveUrl("~/Scripts") + "/app_combined_#.js")
    %>--%>
    <%--<script src="<%=Page.ResolveUrl("~/Scripts/jQuery.validity.min.js")%>" type="text/javascript"></script>
    <script src="<%=Page.ResolveUrl("~/Scripts/jquery.countdown.min.js")%>" type="text/javascript"></script>
    <script src="<%= Page.ResolveUrl("~/Scripts/RAM.js")%>" type="text/javascript"></script>--%>
    <%
        // Sets client thread cultureinfo.
        var globCult = new RAMAPP_Mvc3.Localization.ClientCultureInfo();
        Session["globObj"] = globCult;
        var ci = System.Threading.Thread.CurrentThread.CurrentCulture;
        var cultureLanguage = ci.Name;
        var decSymbol = ci.NumberFormat.NumberDecimalSeparator;
        var groupSymbol = ci.NumberFormat.NumberGroupSeparator;
    %>
    <script type="text/javascript">
        //set page culture settings

        var selectedCulture = '<%= cultureLanguage %>';
        var cultureDec = '<%= decSymbol %>';
        var cultureGroupSep = '<%= groupSymbol %>';
        var cultureFile = '<%= Page.ResolveUrl("~/Scripts/cultures/globalize.culture." + cultureLanguage + ".js")%>';
        var dataModelJson;
        var formAction;
        var disableNumFormatting = false;
        var imgUrl = '<%=Page.ResolveUrl("~/images")%>';
        var appUrl = '<%= Page.ResolveUrl("~/App")%>';

    </script>
</head>
<body>
    <div id="header" class="container_16" sizcache="2460" sizset="0">
        <div class="grid_2">
            <img id="Img1" src="~/images/solomon-logo.gif" runat="server" border="0" />
        </div>
        <div class="grid_12">
            &nbsp;
        </div>
        <div class="grid_2 " align="left" style="font-size: .90em;">
            <br />
            <%

                var cp = SessionUtil.AdminKey();
                var mode = Session["Mode"];
                var IsSAISession = mode != null ? (mode.ToString() == cp) : false;
                if (!IsSAISession)
                {  %>
                <img  alt="logout" align="middle"  src="<%=Page.ResolveUrl("~/images")%>/logout2.png"  /> 
            <%=  Html.ActionLink("Logout", "LogOff", "Account")%>
            <br />
            
            <%= Html.ActionLink("My Profile", "Index", "Profile")%>
            <%}
                else
                {%>
            &nbsp;
            <br />
            &nbsp;
            <%} %>
            <br />
        </div>
    </div>
    <div id="content" class="container_16">
        <div class="ui-widget">
            <div id="SessionAlert" class="ui-state-error ui-corner-all grid_16" style="padding: 0">
                <p>
                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Alert:</strong> <span id="sessionmsg">Session will expire soon because appears
                        that have you have been idle. <a href="javascript:SaveTabInput();" style="color: Blue">
                            Click here</a> to save and refresh your session. Time remaining <span id="timeremaining">
                            </span></span>
                </p>
            </div>
        </div>
        <div id="crumbCont" class="grid_16">
            <span class="left">
                <%=ViewData["sitesunitsbreadcrumb"] %></span> <span class="right">
                    <%= ViewData["breadcrumb"] %>
                    <span id="currentSec"></span></span>
        </div>
        <div class="grid_16" sizcache="1300" sizset="0">
            <uc:TabControl ID="tabControl" runat="server"></uc:TabControl>
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                &nbsp;
            </asp:ContentPlaceHolder>
        </div>
    </div>
    <div id="footer" class="container_16">
        <div class="grid_5" style="height: 130px;">
            <asp:ContentPlaceHolder ID="footer1" runat="server">
                &nbsp;
            </asp:ContentPlaceHolder>
        </div>
        <div class="grid_5" style="height: 130px;">
            <asp:ContentPlaceHolder ID="footer2" runat="server">
                &nbsp;
            </asp:ContentPlaceHolder>
        </div>
        <div class="grid_5">
            <asp:ContentPlaceHolder ID="footer3" runat="server">
                &nbsp;
            </asp:ContentPlaceHolder>
        </div>
    </div>
    <br />
    <div class="copy-supertiny" align="center">
        © 2011-<%= DateTime.Now.Year.ToString() %>, HSB Solomon Associates,LLC</div>
    <div id="menuCtn">
        <uc:AppMenu ID="AppMenu2" runat="server" />
    </div>
    <div id="savingDiv" class="dialog">
    </div>
    <div id="helpDiv" class="dialog">
    </div>
    <div id="commentDiv" title="Comment">
    </div>
 <%--   <div id="confirm" class="ui-widget">
        <div class='ui-widget-header'>
            <span>Confirm</span></div>
        <p class='message'>
            &nbsp;</p>
        <div class='buttons'>
            <div class='no'>
                No</div>
            <div class='yes'>
                Yes</div>
        </div>
    </div>--%>
    <div class="navWindow">
        <uc:SiteUnitMenu ID="SiteUnitMenu1" runat="server" />
    </div>
    <div id="tabSideMenu" class="btnNavWindow rightPointer">
        SHOW&nbsp;MENU</div>
    <%= Bundle.JavaScript()
             .Add(Page.ResolveUrl("~/Scripts") + "/jquery.cookie.js")
             .Add(Page.ResolveUrl("~/Scripts") + "/jquery-ui-1.8.15.custom.min.js")
             //.Add(Page.ResolveUrl("~/Scripts") + "/jquery.calculation.min.js")
             .Add(Page.ResolveUrl("~/Scripts") + "/Watermark.min.js")
             .Add(Page.ResolveUrl("~/Scripts") + "/SlidingNav.min.js")
             .Add(Page.ResolveUrl("~/Scripts") + "/RAM.min.js")
             .ForceRelease()
             .Render(Page.ResolveUrl("~/Scripts") + "/applo_combined1.js")
    %>

 
    <%--  <script src="<%= Page.ResolveUrl("~/Scripts/jquery.cookie.js")%>" type="text/javascript"></script>
    <script src="<%= Page.ResolveUrl("~/Scripts/jquery-ui-1.8.15.custom.min.js")%>" type="text/javascript"></script>--%>
    <script src="<%= Page.ResolveUrl("~/Scripts/jquery.calculation.min.js")%>" type="text/javascript"></script>
    <%--  <script src="<%= Page.ResolveUrl("~/Scripts/Watermark.js")%>" type="text/javascript"></script>
    <script src="<%= Page.ResolveUrl("~/Scripts/SlidingNav.min.js")%>" type="text/javascript"></script>--%>
    <script type="text/javascript">
         var sessiontimeout = <%: (Session.Timeout-2)*60*1000 %>;
         function sessionClosed(){$("#sessionmsg").html(' Your session has expired. Please login again and continue.')}function SaveTabInput(){var c=$('#tabContainer div.ui-tabs-panel:visible form').first();var b=$('#savingDiv');b.html('<p><img alt="" src="'+imgUrl+'/solomon-logo.gif"  align=middle /> </p><br /><p id="msg">Please wait. Saving data ..</p>');b.dialog({resizable:false,bgiframe:true,height:300,width:400,modal:true,overlay:{backgroundColor:'#000',opacity:0.5}}).css("border","2px solid #991000").siblings('.ui-dialog-titlebar').remove();b.show();if(c)c.submit();$('#tabContainer div.ui-tabs-panel:visible input').each(function(a){if(!$(this).hasClass('ttlfld')&&!$(this).hasClass('formfld'))$(this).css('background-color','')});$("#SessionAlert").hide().delay(sessiontimeout).fadeIn(2000,function(){var a=new Date();a.setSeconds(a.getSeconds()+117);$('#timeremaining').countdown({until:a,format:'MS',compact:true,onExpiry:sessionClosed})})}$(window).load(function(){if(cultureGroupSep.match(/\./g)&&cultureDec==','){$.Calculation.setDefaults({reNumbers:/(-?\$?)(\d+(\.\d{3})*(,\d{1,})?|,\d{1,})/g,cleanseNumber:function(a){return a.replace(/[^0-9,\-]/g,"").replace(/,/g,".")}})}if(cultureGroupSep.match(/\u00a0/g)&&cultureDec==','){$.Calculation.setDefaults({reNumbers:/(-?\$?)(\d+(\u00a0\d{3})*(,\d{1,})?|,\d{1,})/g,cleanseNumber:function(a){return a.replace(/[^0-9,\-]/g,"").replace(/,/g,".")}})}$('#savingDiv').hide();$("#tabContainer").tabs({spinner:'<img src="'+imgUrl+'/ajax_indicator.gif" width=10px border=0/>'}).bind('tabsselect',function(a,c){var b=$(c.panel);b.html("<span class='tab-loading'> &nbsp;Loading...</span>")});$("#SessionAlert").hide().delay(sessiontimeout).fadeIn(0,function(){var a=new Date();a.setSeconds(a.getSeconds()+117);$('#timeremaining').countdown({until:a,format:'MS',compact:true,onExpiry:sessionClosed})})});
<%-- 
		//Alerts that the session is expired
		function sessionClosed()
		{
		   $("#sessionmsg").html(' Your session has expired. Please login again and continue.');
		}

        //Save data on present tab form showing
		function SaveTabInput() {

		    var $myForm = $('#tabContainer div.ui-tabs-panel:visible form').first();
            var $savingDiv =   $('#savingDiv');

           $savingDiv.html('<p><img alt="" src="' + imgUrl +'/solomon-logo.gif"  align=middle /> </p><br /><p id="msg">Please wait. Saving data ..</p>');

            $savingDiv.dialog({
               // show:'explode',
                resizable: false,
                bgiframe: true,
                height: 300,
                width: 400,
                modal: true,
                overlay:
                {
                    backgroundColor: '#000',
                    opacity: 0.5
                }
           }).css("border","2px solid #991000").siblings('.ui-dialog-titlebar').remove();
           $savingDiv.show();

           //Prevents double posting during submits
		    if($myForm)
		       $myForm.submit();

          //Change modified fields color back to white
            $('#tabContainer div.ui-tabs-panel:visible input').each(function(i){
              if(!$(this).hasClass('ttlfld') && !$(this).hasClass('formfld'))
                $(this).css('background-color','');
            });

		  // reset timer on session alert
		     $("#SessionAlert").hide().delay(sessiontimeout).fadeIn(2000,
								function () {
									var shortly = new Date();
									shortly.setSeconds(shortly.getSeconds() + 117);
									$('#timeremaining').countdown({ until: shortly, format: 'MS',compact:true , onExpiry: sessionClosed});

								});

		}

		$(window).load(function(){

			//Jquery Calculation use this  setting when dot is used as a number separator
            if(cultureGroupSep.match(/\./g) && cultureDec == ','){

                $.Calculation.setDefaults({
                    reNumbers : /(-?\$?)(\d+(\.\d{3})*(,\d{1,})?|,\d{1,})/g,
                    cleanseNumber : function(v){

                        return v.replace(/[^0-9,\-]/g, "").replace(/,/g, ".");
                    }
                });
            }
            //Jquery Calculation use this  setting when a space is used as a separator
            if(cultureGroupSep.match(/\u00a0/g) && cultureDec == ','){
                $.Calculation.setDefaults({
                    reNumbers : /(-?\$?)(\d+(\u00a0\d{3})*(,\d{1,})?|,\d{1,})/g,
                    cleanseNumber : function(v){
                        return v.replace(/[^0-9,\-]/g, "").replace(/,/g, ".");
                    }
                });

            }
            $('#savingDiv').hide();

            //Activate Tabs
            $("#tabContainer").tabs({
                spinner : '<img src="' + imgUrl + '/ajax_indicator.gif" width=10px border=0/>'
            }).bind('tabsselect', function(event, ui){
                // SaveTabInput();
                var $panel = $(ui.panel);
                $panel.html("<span class='tab-loading'> &nbsp;Loading...</span>");

            });

            //load session timeout alert
            $("#SessionAlert").hide().delay(sessiontimeout).fadeIn(0, function(){
                var shortly = new Date();
                shortly.setSeconds(shortly.getSeconds() + 117);
                $('#timeremaining').countdown({
                    until : shortly,
                    format : 'MS',
                    compact : true,
                    onExpiry : sessionClosed
                });

            });

        });--%>
        </script>

<%--
 <script type="text/javascript" >
//        function commentCallback(responseText, responseStatus, xhr){
//            if(responseStatus != 'success'){
//                var errormsg;
//                if(xhr && xhr.statusText)
//                    errormsg = xhr.statusText;
//                if(errormsg == '' || errormsg == null)
//                    errormsg = $(responseText).text();

//                errormsg += ' at ' + (new Date()).toLocaleTimeString();

//                $('#commentDiv').html(responseText);
//            }
//        }

//		//Opens comment box and records comments
//        function recordComment(suid, qid){
//            var $commentBox = $("#commentDiv");
//            var $loader = $commentBox.find('#loading');
//            $commentBox.html('');
//            $commentBox.dialog({
//                bgiframe : true,
//                resizable : false,
//                modal : true,
//                height : 530,
//                width : 500,
//                buttons :
//                {
//                    'Save' : function(){
//                         $commentBox.find("form:first").submit();
//                        return false;
//                    },
//                    'Close' : function(){
//                        $(this).dialog('close');
//                    }
//                }
//            });

//             $loader.show();

//           $commentBox.load(appUrl+'/Comment/' + suid + '/' + qid.toString().replace('.','___'), function(response, status, xhr){
//                if(status == "error") {
//                    $(this).html("Sorry an error occurred when loading comments");

//                } else
//                   refreshComment(suid, qid);
//            });

//           $loader.hide();

//            return false;
//        }

//		function refreshComment(id, qid){
//            var $commentList = $("#commentList");
//		    var $textBox =  $('#commentDiv  textarea');
//            $commentList.html('');
//            $commentList.load( appUrl +'/CommentsForQuestion/' + id + '/' +  qid.toString().replace('.','___'),function (resp,status,xhr) {
//                 $commentList.html(resp);
//            });

//            $textBox.val('').focus();

//            $('#myCounter').text('250');
//        }

//		function deleteComment(id, datasetID, qid){

//            $.post(appUrl + '/DeleteComment',
//            {
//                "id" : id
//            }, function(e){
//                refreshComment(datasetID, qid);
//            }, 'json');
//        }
    </script>
    --%>
    <iframe id="KeepAliveFrame" src="<%= Page.ResolveUrl("~/ActiveSession/KeepSessionAlive.aspx")%>"
        frameborder="0" width="300" height="0"></iframe>
</body>
</html>